.container
	.sections.sections__left
		.section.sections__left_1
			h1.main-title
				| Сайт Дмитрия Чучина

			
				//- .section__img
			//- img(class="section__img" src="img/photo.jpg")
		.section.sections__left_2
			.title__wrap
				h2.title
					| Ключевые навыки
		.section.sections__left_3
			.title__wrap
				h2.title
					| Мои Работы
		.section.sections__left_4
			.title__wrap
				h2.title
					| Контакты
	.sections.sections__right
		.section.sections__right_4
			h2= 4
		.section.sections__right_3
			ul.works__list
				-var works = ['cooltech','portfolio','watermark','']
				each work in works
					li(class='work__item work__item_'+ work)
						a(href="#" class='work__link work__link_' + work)
							span.work__title= work
							.work__info
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur beatae at debitis eaque accusamus ratione tempore rem quis atque.
						
		.section.sections__right_2
			.skills__wrap
				-var skills = ['Html','CSS','JavaScript','jQuery','Jade','Sass','Compass','Bower','npm','Gulp','Git','Photoshop']
				each skill in skills
					div(class="skill skill_" + skill)= skill
		.section.sections__right_1
			.info__wrap
				.section__info
					|  Добро пожаловать на мой сайт. Меня зовут Дмитрий и я занимаюсь frontend разработкой

	.arrow