header.header
	.header__container
		.name__container
			.name
				| Дмитрий Чучин
			.profession
				| Frontend-developer
//- 		//- nav.header__nav
//- 		//- 	ul.nav__list
//- 		//- 		-var items = ['About me', 'Works', 'Future', 'Contacts']
//- 		//- 		each item in items
//- 		//- 			li.nav__item
//- 		//- 				a(href="#").nav__link= item

