.wrapper {
	height: 100% !important;
	width: 100%;
}
.container 	{
	position: relative;
	width: 100%;
	height: calc(100% - 70px);
	overflow: hidden;
	box-sizing: border-box;
}
.sections {
	box-sizing: border-box;
	position: absolute;
	width: 50%;
	height: 100%;

	@include transition(top 1s, ease-out);

	&__left {
		left: 0;
		top: -300%;
	}

	&__right {
		right: 0;
		top: 0;
	}
}


.section {
	position: relative;
	height: 100%;

	.title {
		opacity: 1;
		@include transition(opacity 0.1s);
	}
}

.tip {
	display: none;
}
	// .section__info {
	// 	display: block;
	// 	opacity: 0;
	// 	color: white;
	// 	font-size: 20px;
	// 	line-height: 23px;
	// 	@include transition(opacity 0.1s);
	// }

	// &:before {
	// 	position: absolute;
	// 	content: '';
	// 	width: 100%;
	// 	height: 100%;
	// 	background: rgb(80, 120, 130);
	// 	opacity: 0;
	// 	@include transition(opacity 0.5s);
	// }

	// &:hover {
	// 	&:before {
	// 		opacity: 0.8;

	// 	}
		
		
	// 	.title {
	// 		opacity: 0;
	// 	}	
	// 	.section__info {
	// 		opacity: 1;
	// 	}
	// }
.main-img {
			background-position: 30% 0;
			background-size: cover;
			// min-width: 100%;
			max-height: 100%;
}
.sections {
	&__left{
		&_4{

			background:#3E4543 url('../img/white2.jpg') center;
			background-size: cover;

		}
		&_3{
			// background: url('../img/workSpace.jpg') left;
			background-image :url('../img/skills1.jpg');
			background-position: 80% 0;
			background-color: rgba(100,200,250, 0.5);
			background-size: cover;
		}
		&_2{
			background: url('../img/work.jpg');
			background-size: cover;
			
		}
		&_1{
			background: url('../img/contacts.jpg');
			background-size: cover;
		}
	}

	&__right{
		&_4{

			background-image :url('../img/photo.jpg');
			background-position: 30% 0;
			background-size: cover;
			
			
		}
		&_3{

		}
		&_2{
			background:#3E4543;
		}
		&_1{
			background: #EBEAE9;
		}
	}
}

.wellcome {
	position: relative;
	color: $main-gray;
	font-size: 1.8rem;
	font-weight: bold;

	// &:after {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	width: 80%;
	// 	height: 120%;
	// 	border-top: 2px solid white;
	// 	border-bottom: 2px solid white;
	// 	top: -10%;
	// 	left: 10%;

	// }
}

.main-title {
	position: absolute;
	left: -9999px;
}

.title__wrap {
	position: absolute;

    top: 30%;
    left: 0;
    color: mix(black, white, 5%);
    background: rgba(200,200,200, 0.5);
    
    text-align: right;
    transform: translateY(-50%);
    min-width: 70%;
    white-space: nowrap;
}

.title {
	margin:10px 30px;
	cursor: default;
	font-size: 2.5rem;
	vertical-align: top;

	// &:after {
	// 	content: '';
	// 	display: block;
	// 	width: 10%;
	// 	border-top: 3px solid white;
	// 	@include transition(width 0.5s);
	// }

	// &:hover {
	// 	&:after {
	// 		width: 100%;
	// 	}

	// }
}

.info__wrap {
	// @include absolute-center;
	// width: 400px;
	// height: 100px;
	position: absolute;
    top: 50%;
    left: 50%;
    color: mix(black, white, 5%);
    font-size: 1.5rem;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 80%;
}



.skills__wrap {
	position: absolute;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
    top: 50%;
    left: 50%;
    color:#3E4543;;
    font-size: 1.5rem;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;

    // :before {
    // 	display: block;
    // 	margin: 0 auto;
    // 	content: '';
    // 	width: 20px;
    // 	height: 20px;
    // 	background:red;
    // }
}
.skill__wrap {
	// display: inline-block;
	width: 150px;
	position: relative;
	vertical-align: bottom;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

$items: Html, CSS, JavaScript, jQuery, Jade, Sass, Compass, Bower, npm, Gulp, Git, Photoshop;

@each $item in $items {
		.skill__wrap_#{$item} {

				&:before {
					@include get-sprite($skills-map, $item);
					content: '';
					// @include absolute-center;
				}
		}
}




// .section__info {
// 	@include absolute-center;
// 	height: 40%;
// 	width: 40%;
// 	display: none;
// }


// .sections__right_3 {
// 	display: flex;

// }

/*--------------------------- works ---------------------------------------*/

.works__list {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.work__item {
	
	position: relative;
	list-style: none;
	width: 50%;
	height: 50%;


	
}

.work__item_portfolio {
	background:url('../img/portfolio.jpg') center no-repeat;
	background-size: cover; 
}

.work__item_watermark {
	background:url('../img/wmgen.jpg') center no-repeat;
	background-size: cover; 
}
.work__item_cooltech {
	background:url('../img/cooltech.jpg') center no-repeat;
	background-size: cover; 
}

.work__link {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	// top: 0;
	// left: 0;
	@include transition(background, 0.3s);
	text-decoration: none;

	&:focus {
		outline: 0 none;
	}

	// &:before {
	// 	content: '';
	// 	height: 100%;
	// 	display: inline-block;
	// 	vertical-align: middle;
	// }

	// &:after {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	background:orange;
	// 	opacity: 0.5;
	// 	top: 0;
	// 	left: 0;
	// 	@include transition(background, 0.3s);
	// }
	&:hover {

		// &:after {
		// 	background:green;
		// 	opacity: 0.5;
		// }

		.work__info {
			opacity: 1;
		}
	}
}

.work__info {
	overflow: hidden;
    color: mix(black, white, 5%);
    font-size: 1em;
    text-align: center;
    width: 70%;
    max-height: 95%;
	opacity: 0;
	text-overflow: ellipsis;
}

.work__title {
	color: white;
	padding: 20px 30px;
	background:rgba(200, 200, 200, 0.9);
	box-shadow: 0 0 5px 0 $main-gray;
}



.cross {
  background: red;
  height: 100px;
  position: relative;
  width: 20px;
  opacity: 0.1;
}
.cross:after {
  background: red;
  opacity: 1;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}

/*----------------------------------- contacts ---------------------------------------------*/

.sections__right_1 {
	display: flex;
	justify-content:center;
	align-items: center;
}
.contacts__container {
	
	width: 80%;
	padding-bottom: 30px;

}

.contacts__form {
	width: 100%;
	height: 100%;
}

.contacts__input_text {
	resize: none;
	-moz-scrollbar-arrow-color: red;
	-webkit-scrollbar-arrow-color: red;
	-o-scrollbar-arrow-color: red;
}


.contacts__input {
	box-sizing: border-box;
	color: lighten($main-gray, 15%);
	width: 100%;
	background:rgba(255,255,255, 0.7);
	padding: 10px 5px;
	border: 0;
	margin-bottom: 20px;
	// box-shadow: 0 2px 2px 0 $main-gray;
	outline: none;
	@include transition(box-shadow, 0.3s);

	&:focus {
		box-shadow: 0 0 8px 2px rgba(100,100,100, 0.5);
	}

}

button {
	position: absolute;
	background:none;
	border: none;
	padding-left: 60px;


	&:before {
		left: 0;
		top: -25px;
		position: absolute;
		content: '';
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		@include border-radius(50%);
		background:$main-gray;
		opacity: 0.2;
	}
}














/*-------------------------------- стрелки -------------------------*/


.arrow {
	position: absolute;
	left: 50%;
	margin-left: -17px;	
	@include border-radius(50%);
	width: 34px;
	height: 34px;
	// border: 2px solid white;
	background: rgba(255, 255, 255, 0.6);
	@include transition(background 0.5s);

	&.arrow_down {
		bottom: 20px;

		&:after {
			@include transform(rotate(45deg));
			box-shadow: 3px 3px 0 0 white;
			margin-top: 8px;
		}
	}

	&.arrow_up {
		display: none;
		top: 20px;
		
		&:after {
			@include transform(rotate(225deg));
			box-shadow: 3px 3px 0 0 white;
			margin-bottom: 8px;
		}

	}
	
	&:after {
		position: absolute;
		content:'';
		@include absolute-center;
		
		width: 8px;
		height: 8px;
		@include transition(box-shadow 0.5s)

	} 
	
	&:hover {
		background: white;

		&:after {
			box-shadow: 3px 3px 0 0 #A5F3FF; 
		}
	}
}

