
.header__container {
	// margin-top: -80px;
	height: $headerheight;
	width: 100%;
	background: #FFFFFF;
	// opacity: 0.2;
	box-shadow: 0 0 5px 0 black !important;
	z-index: 1;
	top: 0;
	@include transition(opacity 0.5s);

	// &:hover {
	// 	opacity: 0.7;
	// }

}

.name__container {
	height: 100%;
	display: flex;
}

.name {
	//display: block;
	margin-left: 20px;
	align-self: center;
}
.profession {
	align-self: center;
	margin-left: 10px;
	&:before {
		content:'';
		height: 20px;
		border: 1px solid;
		display: inline;
		align-self: center;
		margin-right: 10px;
	}
}
